@model List<List<bool>>

<h2>Test</h2>
<form method="post" asp-controller="UserTesting" asp-action="PassTest">
    <div>
        <input name="test.Id" type="hidden" value="@ViewBag.test.Id" />
        <input name="test.Title" type="hidden" value="@ViewBag.test.Title" />
        <input name="test.Questions" type="hidden" value="@ViewBag.test.Questions" />
        <input name="test.ThemeId" type="hidden" value="@ViewBag.test.ThemeId" />
        <input name="test.ThemeTitle" type="hidden" value="@ViewBag.test.ThemeTitle" />
    </div>

    <div>
        <div class="questions">

            @for (int i = 0; i < @ViewBag.test.Questions.Count; i++)
            {

                <p class="unselectable">@((i+1).ToString()).  @ViewBag.test.Questions[i].TaskText</p>
                @for (int j = 0; j < @ViewBag.test.Questions[i].Answers.Count; j++)
                {
                    <p> <label class="unselectable"><input type="checkbox" name="@Model[i][j]" value="false" />
                        @ViewBag.test.Questions[i].Answers[j].Text</label> </p>
                }
                <hr />
            }

        </div>

    </div>
    <div>
        <input class="btn-dark" type="submit" value="Pass Test" />
    </div>
</form>
